@import '../../globalStyles/style.scss';

.profile {
	margin-top: 50px;
	display: flex;
	width: 100%;
	align-items: start;
}

.card_user {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.image_profile {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid rgb(72, 255, 0);
}

.name_box {
	display: flex;
	flex-direction: column;
}

.name {
	font-family: $secondary-font;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.3rem;
	padding: 0;
	margin: 0;
}
