@import '/src//globalStyles/style.scss';

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80vw;
	border-radius: 20px;
	padding-bottom: 50px;
}

.subtitle {
	color: #ffffffca;
	font-family: $three-font;
	font-size: 2rem;
	text-align: left;
	width: 50vw;
	width: 400px;
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
	animation: fadeIn 1s;
}
