@import './globalStyles/style.scss';

.App {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $secondary-color;
	width: 100%;
	max-width: 1920px;
	height: 100%;
}
